html {
  height: 100%;
}
.app {
  height: 100%;
  font-family: 'Helvetica', arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: white;
}
.app__counter {
  font-size: 25vw;
  margin: -5vh 0 0;
  background: url(../img/saffu-UEgo43quyCw-unsplash.jpg) center center no-repeat;
  background-size: 200% 120%;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  font-weight: bold;
}
@media all and (min-width: 768px) {
  .app__counter {
    font-size: 25vw;
  }
}
@media all and (min-height: 500px) {
  .app__counter {
    font-size: 40vw;
  }
}
.app__credits {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: .5em;
  color: #ccc;
  font-size: 12px;
}
.app__link {
  color: #b0b0b0;
}