html {
  height: 100%;
}
.app {
  height: 100%;
  font-family: 'Helvetica', arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: white;
}
.app__counter {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-size: 25vw;
  line-height: 100%;
  margin:0;
  color: inherit;
  font-weight: bold;
  position: relative;
  position: relative;
}
@media all and (min-height: 500px) {
  .app__counter {
    font-size: 40vw;
  }
}
@media all and (min-width: 768px) {
  .app__counter {
    font-size: 25vw;
  }
}
.app__credits {
  position: fixed;
  left: 0;
  bottom: .5em;
  color: #ccc;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
.app__link {
  color: #b0b0b0;
}





/* PARADIGMA */
.app--paradigma {
  color: #ff3900;
}
.app--paradigma .app__counter::before {
  content: '{';
  display: inline-block;
  transform: translate(0,-10%);
}





/* STAR WARS */
.app--starwars {
  background: #010101;
  color: #fed003;
}
.app--starwars .app__counter::before {
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  bottom: 100%;
  background: url(../img/death-star.svg) center no-repeat;
}

@media all and (min-width: 768px) {
  .app--starwars .app__counter {
    font-size: 35vw;
  }
  .app--starwars .app__counter::before {
    width: 75px;
    height: 75px;
  }
}





/* 47 YEARS */
.app--47 {
  background: linear-gradient(to top, #09F, #04f);
}
.app--47 .app__counter {
  font-size: 25vw;
  margin: -5vh 0 0;

  color: white;
}

.app--47 .app__counter::before {
  content: '';
  width: .2em;
  height: .2em;
  background: url(../img/flame.svg) center center no-repeat;
  background-size: auto 100%;
  position: relative;
  left: 50%;
  top: 0;
  display: block;
  transform: translate(-50%, .1em);
}
.app--47 .app__counter::after {
  content: '';
  width: .001em;
  height: .001em;
  background: transparent;
  border-radius: 50%;
  background-size: auto 100%;
  position: relative;
  left: 50%;
  bottom: 0;
  display: block;
  transform: translate(-50%, -.14em) scale(4, .15);
  z-index: -1;
  box-shadow: 0 0 .1em .07em rgba(0,0,0, .6), 0 0 .05em .04em rgba(0,0,0, .6);
}

.app--47.app--day-1 .app__counter::before,
.app--47.app--day-1 .app__counter::after {
  left: 58%;
}
.app--47.app--day-4 .app__counter::before,
.app--47.app--day-4 .app__counter::after {
  left: 66%;
}