html {
  height: 100%;
}
.app {
  height: 100%;
  font-family: arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: white;
}
.app__counter {
  font-size: 25vw;
  line-height: 100%;
  margin:0;
  color: inherit;
  font-weight: bold;
  position: relative;
}
@media all and (min-height: 500px) {
  .app__counter {
    font-size: 40vw;
  }
}
@media all and (min-width: 768px) {
  .app__counter {
    font-size: 25vw;
  }
}
.app__credits {
  position: fixed;
  left: 0;
  bottom: .5em;
  color: #ccc;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
.app__link {
  color: #b0b0b0;
}





/* PARADIGMA */
.app--paradigma {
  color: #ff3900;
}
.app--paradigma .app__counter::before {
  content: '{';
  display: inline-block;
  transform: translate(0,-10%);
}





/* STAR WARS */
.app--starwars {
  background: #010101;
  color: #fed003;
}
.app--starwars .app__counter::before {
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  bottom: 100%;
  background: url(../img/death-star.svg) center no-repeat;
}

@media all and (min-width: 768px) {
  .app--starwars .app__counter {
    font-size: 35vw;
  }
  .app--starwars .app__counter::before {
    width: 75px;
    height: 75px;
  }
}





/* 47 YEARS */
.app--47 {
  background: linear-gradient(to bottom, #0091FF 50%, #05f);
}
.app--47 .app__counter {
  font-size: 25vw;
  height: 25vw;
  margin: 0;
  position: relative;
}
.app--47 .app__counter-label {
  background: 
    linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, .0)),
    repeating-linear-gradient(
      20deg,
      #E02020 .02em,
      #E02020 .15em,
      #f4f5f6 .15em,
      #f4f5f6 .30em
    );
  -webkit-appearance: none;
  appearance: none;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  position: relative;
  z-index: 2;
}

.app--47 .app__counter::before {
  content: '';
  width: .2em;
  height: .2em;
  background: url(../img/flame.svg) center center no-repeat;
  background-size: auto 100%;
  position: relative;
  left: 50%;
  top: 0;
  display: block;
  transform: translate(-50%, .1em);
}
.app--47 .app__counter::after {
  content: '';
  width: .5em;
  height: .5em;
  
  background: url(../img/shadow.png) left top no-repeat;
  background-size: 100%;
  position: relative;
  left: 50%;
  bottom: 0;
  display: block;
  transform: translate(-50%, -.39em) scale(1.4, .2);
  mix-blend-mode: multiply;
  opacity: .3;
  filter: blur(10px);
  z-index: 1;
}

.app--47.app--day-1 .app__counter::before,
.app--47.app--day-1 .app__counter::after {
  left: 58%;
}
.app--47.app--day-4 .app__counter::before,
.app--47.app--day-4 .app__counter::after {
  left: 66%;
}